<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>EDUCATION</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>

<div class="logo1">
    <i><a href="http://127.0.0.1:8000/" class="em em-smiling_imp" style="font-size:50px"></a></i>
</div>


<div class = "header">

    <input class="search" type="search" placeholder="Search" aria-label="Search">
</div>

<div class="search_button">
    <i class="fa fa-search" style="font-size:35px"></i>
</div>


<div class="top_nav">
  <a class="active" href="">Education</a>
  <a href="#Science">Science</a>
  <a href="#Fun">Fun</a>
  <a href="#Sport">Sport</a>
  <a href="#Book">Book</a>
  <a href="#News">News</a>
  <a href="#Troll">Troll</a>
  <a href="#Technarts">Technarts</a>

</div>




</body>
</html>