<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>POST</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script  src="static/js/bootstrap.js/"></script>




</head>
<body>

<div class="logo">
    <i class="em em-smiling_imp" style="font-size:50px"></i>

</div>


<div class = "header">

    <input class="search" type="search" placeholder="Search" aria-label="Search">
</div>


<div class="search_button">
    <i class="fa fa-search" style="font-size:35px"></i>
</div>

<!------------------------------------------------ NAV BAR ------------------------------------------------------------>


<div class="top_nav">
    <a class="active" href="#education">Education</a>
    <a href="#Science">Science</a>
    <a href="#Fun">Fun</a>
    <a href="#Sport">Sport</a>
    <a href="#Book">Book</a>
    <a href="#News">News</a>
    <a href="#Troll">Troll</a>
    <a href="#Technarts">Technarts</a>
</div>

<!---------------------------------------- TEMPLATE FOR POST CREATION ------------------------------------------------->

<div class="middle">
    {% for post in posts %}<br>
        <div class="container_post1">
            <div class="post_id" style="display:none;">{{post.id}}</div>
            <div class ="create_post">
                <div class="personal_info">
                    <div class="photo_line"></div>
                        <img class="pp" src="pp.png">
                    <p id="name_post"><b>Post name : </b>  {{post.post_name}} </p>
                    <p><b>By :</b>  {{post.author}} </p>
                </div>
            <hr class="h_line" color="black">
                <div class="outer">
                    <div class="v_line"></div>
                </div>
                <p class="content">
                    <b>Content :</b> {{post.post_content}} </p>
            </div>
        </div>
    {% endfor %}
</div>



<!--------------------------------------------- POST CREATE--------------------------------------------------------- -->

<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Post</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">NEW POST</h4>
        </div>
        <div class="modal-body">
            <form class="location_form" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="post_name">Post Name</label>
                    <input type="text" class="form-control" id="post_name" placeholder="Enter post name"
                          name="post_name">
                </div>
                <div class="form-group">
                    <label for="post_content">Post Content:</label>
                    <input type="text" class="form-control" id="post_content" placeholder="Enter post content"
                       name="post_content">
                </div>

                <div class="modal-footer">
                    <input type="submit" id="btnsubmit" class="btn btn-default" data-dismiss="modal" value="Submit">
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!--------------------------------------------------JS/AJAX------------------------------------------------------------>


<script>
    $(document).ready(function(){

    function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
        return "";
     }
    console.log("asssssss");
    //$('.location_form').submit(function(e) {
    $('#btnsubmit').click(function(e){
        e.preventDefault();
        console.log($('#post_name').val());
        console.log($('#post_content').val());
        var name = $('#post_name').val();
        var contents = $('#post_content').val();
        $.ajax({
            url: 'newestposts/51',
            data: {'post_name' : name,
            'post_content':contents},
            type : 'POST',
            dataType:'json',
            headers: { "X-CSRFToken": getCookie("csrftoken") },

            success: function(data) {
                console.log(data);
                if(data['saved']=='True'){
                    var html='<br><div class="container_post1">\
            <div class="post_id" style="display:none;">{{post.id}}</div> \
            <div class ="create_post">\
                <div class="personal_info">\
                    <div class="photo_line"></div>\
                        <img class="pp" src="pp.png">\
                    <p id="name_post"><b> Post name : </b>  '+name+'</p>\
                    <p><b>By :</b></p>\
                </div>\
            <hr class="h_line" color="black">\
                <div class="outer">\
                    <div class="v_line"></div>\
                </div>\
                <p class="content">\
                    <b>Content :</b> '+contents+' </p>\
            </div>\
        </div>';
                $( ".middle" ).append(html);
                }
               }
            })
        })
    });

</script>



</body>
</html>
