<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STACKoverPOST</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


</head>
<body>

<div class="logo">
    <i class="em em-smiling_imp" style="font-size:50px"></i>

</div>


<div class = "header">
    <button class="sign_in" type="signin"> Sign In </button>
    <input class="search" type="search" placeholder="Search" aria-label="Search">
</div>


<div class="search_button">
    <i class="fa fa-search" style="font-size:35px"></i>
</div>


<div class="top_nav">
    <a class="active" href="education">Education</a>
    <a href="#Science">Science</a>
    <a href="#Fun">Fun</a>
    <a href="#Sport">Sport</a>
    <a href="#Book">Book</a>
    <a href="#News">News</a>
    <a href="#Troll">Troll</a>
    <a href="#Technarts">Technarts</a>
</div>


<div class=" middle ">
    <div class="container_post1">
        <div class ="create_post">
            <div class="personal_info">
                <div class="poto_line"></div>
                    <img class="pp" src="download.png">
                <p><b>Post name : </b> First Post </p>
                <p><b>By :</b> Betul Gokbel </p>
            </div>
        <hr class="h_line" color="black">
            <div class="outer">
                <div class="v_line"></div>
            </div>
            <p class="content">
                <b>Content :</b> Whatever you want !</p>
        </div>
    </div>
</div>



<div class="container">
     <div class="interior">
        <a class="btn" href="#open-modal">New Post</a>
     </div>
</div>
<div id="open-modal" class="modal-window">
    <div>
        <a href="" title="Close" class="modal-close">Close</a>
        <h1 class="New_Post"> New Post </h1>
        <form class="location_form" action="{% url 'post_new' %}" method="POST">{% csrf_token %}

            <label class="location_name"> POST NAME :  </label>
            <input class="postName" type="text" name="post_name"> <br>
            <br>
            <label class="location_content"> POST CONTENT : </label>
            <input class="postContent" type="text" name="post_content"> <br>
            <br>
            <input class="save_post" type="submit" value="SAVE" >

        </form>
    </div>
</div>




</body>
</html>

