<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="logo">
    <i class="em em-smiling_imp" style="font-size:50px"></i>

</div>


<div class = "header">

    <input class="search" type="search" placeholder="Search" aria-label="Search">
</div>


<div class="search_button">
    <i class="fa fa-search" style="font-size:35px"></i>
</div>

<!------------------------------------------------ NAV BAR ------------------------------------------------------------>


<div class="top_nav">
    <a class="active" href="#education">Education</a>
    <a href="#Science">Science</a>
    <a href="#Fun">Fun</a>
    <a href="#Sport">Sport</a>
    <a href="#Book">Book</a>
    <a href="#News">News</a>
    <a href="#Troll">Troll</a>
    <a href="#Technarts">Technarts</a>
</div>

<!---------------------------------------- TEMPLATE FOR POST CREATION ------------------------------------------------->

<div class=" middle ">
    <div class="container_post1">
        <div class ="create_post">
            <div class="personal_info">
                <div class="photo_line"></div>
                    <img class="pp" src="download.png">
                <p><b>Post name : </b>  {{post_name}} </p>
                <p><b>By :</b>  {{post_author}} </p>
            </div>
        <hr class="h_line" color="black">
            <div class="outer">
                <div class="v_line"></div>
            </div>
            <p class="content">
                <b>Content :</b> {{post_content}} </p>
        </div>
    </div>
</div>

<!--------------------------------------------- POST CREATE--------------------------------------------------------- -->

<div class="container">
     <div class="interior">
        <a class="btn" href="#open-modal">New Post</a>
     </div>
</div>
<div id="open-modal" class="modal-window">
    <div>
        <a href="" title="Close" class="modal-close">Close</a>
        <h1 class="New_Post"> New Post </h1>
        <form class="location_form" action="{% url 'post_new' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="post_name">Post Name</label>
                   <input type="text" class="form-control" id="post_name" placeholder="Enter post name"
                          name="post_name">
                    <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="form-group">
                <label for="post_content">Password:</label>
                <input type="text" class="form-control" id="post_content" placeholder="Enter post content"
                       name="post_content">

            </div>
        </form>
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------->

</body>
</html>

