
body {
    background-image : url("foto.png") ;                                                                                                                                                                                                                                     .png") ;
    resize: both;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0 ;
    background-attachment: fixed;

}

.logo {
    position : absolute ;
    margin-top :-14px ;
    margin-left : 55px ;
    text-color : black ;
}

.logo1 {
    position : absolute ;
    margin-top :-14px ;
    margin-left : 55px ;
    color : black ;
    text-decoration : initial;
}

.header {
    width: 100px ;
    text-align : center ;
    margin-top : 40px ;
    position : relative ;


}

.search {
    text-align : center ;
    border-radius : 40px ;
    border: 10 ;
    width: 300px ;
    height : 50px ;
    border-style : solid ;
    margin-left : 500px ;

}



.fa-search:before {
   position: relative;
   top: -43px;
   left: 820px;

}



.sign_in {

    background-color : #333 ;
    border-radius : 10px ;
    position : absolute ;
    margin-left : 1150px ;
    border-style : solid ;
    color : white ;
    width : 74px ;
    height : 46px ;


}


.top_nav {


    background-color : #333 ;
    border-radius : 30px ;
    margin-right : 200px ;
    margin-left : 350px ;
    position : absolute ;
    margin-top : 50px ;
    padding-left : 0 ;
    padding-right : 0 ;
    border-style : solid ;





}


.top_nav a {

    float : left ;
    color : #f2f2f2 ;
    text-align : center ;
    padding-left : 14px ;
    padding-right : 14px ;
    padding-top : 14px ;
    padding-bottom : 14px ;
    font-size : 17px ;
    text-decoration : none ;
    cursor : default ;
    border : 2px ;




}

.top_nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius : 30px ;


}


body, html{ height: 160%; }
.outer {
  width: 1px;
  height: 100%;
  margin-left : 250px ;
  margin-top : -47px ;
  position: relative;


}

.inner {
  position: absolute;
  width:2px;
  height: 191px;
  background: black;
  margin-top : -41px ;



}

.line {
    width:63%;
    position : absolute ;

}


.context {

    position: absolute;

}
.container_post1 {

    background-color: #98f5ff82;
    border : 2px ;
    border-style : solid ;
    border-radius : 30px ;
    width: 400px ;
    height : 200px ;
    position : relative ;
    top : 200px ;
    left : 160px ;



}

.container_post2 {

    background-color: #98f5ff82;
    border : 2px ;
    border-style : solid ;
    border-radius : 30px ;
    width: 400px ;
    height : 200px ;
    position : relative ;
    top : -3px ;
    left : 720px ;


}


.create_post {

    margin-left : 7px ;
    padding-top : 4px ;
    width : 250px ;

}


