{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--after login-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <script  src="{% static 'js/bootstrap.js'%}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<!--<div class="loader"></div>-->
<div class="logo">
    <i class="em em-smiling_imp" style="font-size:50px"></i>
</div>
<!------------------------------------------------TRANSLATION PAGE----------------------------------------------------->
<form action="{% url 'set_language' %}" method="post">
   {% csrf_token %}
   <input name="next" type="hidden" value="{{ redirect_to }}" />
   <button id="trans-button-en" type="submit" class="btn btn-sm" name="language" value="en">
       EN
   </button>
   <button id="trans-button-tr" type="submit" class="btn btn-sm" name="language" value="tr">
       TR
   </button>
</form>
<!--------------------------------------------------------------------------------------------------------------------->
<div class = "header">
    <input class="search" type="search" placeholder='{% trans "Search" %}' aria-label="Search">
</div>
<div class="search_button">
    <i class="fa fa-search" style="font-size:35px"></i>
</div>
{% if user.is_authenticated %}
    <div class='btn-toolbar pull-right'>
        <div class="btn-group">
            <!--<button type="button" class="btn btn-default">Menu</button>-->
            <button id="name-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <p id="user-username"> {{user.username}}</p>
            </button>
            <ul id="name-dropdown1" class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
{% endif%}
<!------------------------------------------------ NAV BAR ------------------------------------------------------------>
<div class="top_nav" >
    <a class="active" href="/">{% trans "Education" %}</a>
    <a href="/">{% trans "Science" %}</a>
    <a href="/">{% trans "Fun" %}</a>
    <a href="/">{% trans "Sport" %}</a>
    <a href="/">{% trans "Book" %}</a>
    <a href="/">{% trans "Troll" %}</a>
    <a href="/">{% trans "Technarts" %}</a>
</div>
<!---------------------------------------- TEMPLATE FOR POST CREATION ------------------------------------------------->
<div class="middle">
    {% for post in posts %}<br>
        <div class="container_post1">
            <div class="post_id" style="display:none;">{{post.
                }}</div>
            <div class ="create_post">
                <div class="personal_info">
                    <div class="photo_line"></div>
                        <img class="pp" src="pp.png">
                    <p id="name_post"><b>{% trans "Post Name :" %} </b>  {{post.post_name}} </p>
                    <p><b>{% trans "By :" %}</b>  {{post.author}} </p>
                </div>
            <hr class="h_line" color="black">
                <div class="outer">
                    <div class="v_line"></div>
                </div>
                <p class="content">
                    <b>{% trans "Content :" %}</b> {{post.post_content}} </p>
            </div>
        </div>
    {% endfor %}
    {% if posts.has_other_pages %}
      <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
{% endif %}
</div>
<!--------------------------------------------- POST CREATE--------------------------------------------------------- -->
<div class="container" data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">{% trans "New Post" %}</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "NEW POST" %}</h4>
        </div>
        <div class="modal-body">
            <form class="location_form" method="POST" id="myform">{% csrf_token %}
                <div class="form-group">
                    <label for="post_name">{% trans "Post Name" %}</label>
                    <input type="text" class="form-control" id="post_name" placeholder='{% trans "Enter Post Name" %}'
                          name="post_name">
                </div>
                <div class="form-group">
                    <label for="post_content">{% trans "Post Content" %}</label>
                    <input type="text" class="form-control" id="post_content"
                           placeholder='{% trans "Enter post content" %}'
                       name="post_content">
                </div>

                <div class="modal-footer">
                    <input type="submit" id="btnsubmit" class="btn btn-default"
                           value='{% trans "Submit" %}'>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------JS/AJAX------------------------------------------------------------>
<script type="text/javascript">
    // $(window).load(function() {
    //             $(".loader").fadeOut(3000);
    // });

    $(document).ready(function(){
        console.log("on ready...");

        function getCookie(c_name)
            {
                var c_end, c_start;
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start, c_end));
                    }
                }
            return "";
            }

            $('#btnsubmit').click(function(e){
            e.preventDefault();
            console.log($('#post_name').val());
            console.log($('#post_content').val());
            var name = $('#post_name').val();
            var contents = $('#post_content').val();

            if (name.length == 0 || contents.length == 0) {
                swal("Please fill in the gap");
                return;
            }
            if (name.length !== 0 || contents.length !== 0){
                swal(name , contents , "success");

            }

            var user = $("#user-username").text();
            console.log("yeee", user);
            console.log(user);
            $.ajax({
                url: 'newestposts/51',
                data: {'post_name' : name,
                        'post_content':contents},
                type : 'POST',
                dataType:'json',
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                success: function(data) {
                    console.log(data);
                    $('#myModal').modal('toggle');

                    if(data['saved']=='True'){
                        var html='<br><div class="container_post1">\
                <div class="post_id" style="display:none;">{{post.id}}</div> \
                <div class ="create_post">\
                    <div class="personal_info">\
                        <div class="photo_line"></div>\
                            <img class="pp" src="pp.png">\
                        <p id="name_post"><b> Post name : </b>  '+name+'</p>\
                        <p><b>By : '+user+'</b></p>\
                    </div>\
                <hr class="h_line" color="black">\
                    <div class="outer">\
                        <div class="v_line"></div>\
                    </div>\
                    <p class="content">\
                        <b>Content :</b> '+contents+' </p>\
                </div>\
            </div>';
                    $( ".middle" ).prepend(html);
                    }
                   }
                })
            });
        /*$(document).ajaxSuccess(function(){
            alert("AJAX request successfully completed");
        });
        $("#btnsubmit").click(function(){
            $("div").load("demo_ajax_load.txt");
        });*/
    });
</script>
</body>
</html>
